<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Voyage Vault</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Alegreya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
<div class="collapse navbar-collapse bg-nav" id="navbarNav">
    <div class="row">
        <ul class="navbar-nav col-8 ">
            <li class="nav-item {% if page == "home" %} active {% endif %}">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item {% if page == "form" %} active {% endif %}">
                <a class="nav-link" href="{% url 'form' %}">Add an Itinerary</a>
            </li>
            <li class="nav-item {% if page == "trip_result" %} active {% endif %}">
                <a class="nav-link" href="{% url 'trip_result' %}">Explore</a>
            </li>
            <li class="nav-item {% if page == "reviews" %} active {% endif %}">
                <a class="nav-link" href="{% url 'reviews' %}">Reviews</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto col-4">
            {% if user.username %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register_user' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
 {% block content %}
 <-- This is where the page content will go! -->
 {% endblock %}
 <br><br>
 <footer>
    ©2023 Columbia Business School. Webapp Programming in Python - Team 6. All Rights Reserved.
</footer>
<script>
    window.onscroll = function () {
        myFunction()
    };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }

    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

</script>
</body>

</html>