<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voyage Vault</title>
</head>
<body>
<form method="post" action="{% url "form_submit" %}">
    {% csrf_token %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
            <tr>
                <th>Length of Trip</th>
                <th>Location</th>
                <th>Time of Day</th>
                <th>Type of Activity</th>
                <th>Day 1</th>
                <th>Day 2</th>
                <th>Day 3</th>
                <th>Day 4</th>
            </tr>
            {% for i in len %}
                <tr>
                    <td>
                        <label for="length_{{ i }}"></label>
                        <select name="length_{{ i }}" id="length_{{ i }}">
                            {% for j in len %}
                                <option value={{ j }}>{{ j }} day{% if j != 1 %}s{% endif %}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <label for="city_{{ i }}"></label>
                        <select name="city_{{ i }}" id="city_{{ i }}">
                            {% for city in city_list %}
                                <option value="{{ city }}">{{ city }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <label for="time_of_day_{{ i }}"></label>
                        <select name="time_of_day_{{ i }}" id="time_of_day_{{ i }}">
                            {% for time in time_of_day_list %}
                                <option value="{{ time }}">{{ time }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <label for="activity_type_{{ i }}"></label>
                        <select name="activity_type_{{ i }}" id="activity_type_{{ i }}">
                            {% for activity in activity_type_list %}
                                <option value="{{ activity }}">{{ activity }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    {% for j in len %}
                        <td>
                            <label for="day_{{ j }}_{{ i }}"></label>
                            <input type="text" id="day_{{ j }}_{{ i }}" name="day_{{ j }}_{{ i }}"
                                   placeholder="Enter text">
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>