{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#<label for="Name">Length of Trip:</label>#}
{#<input type="text" id="Length" name="Length" placeholder="How long is your trip?">#}
{#<br>#}
{#<br>#}
{#<label for="Name">Location:</label>#}
{#<input type="text" id="City" name="City" placeholder="What city are you visiting?">#}
{#<br>#}
{#<br>#}
{#<form method="get" action=" ">#}
{#                    <label for="time of day">What time of day?:</label>#}
{#                    <select name="time_of_day" id="time_of_day">#}
{#                    <option value="morning">Morning</option>#}
{#                    <option value="afternoon">Afternoon</option>#}
{#                    <option value="evening">Evening</option>#}
{#<br>#}
{#<br>#}
{#<form method="get" action=" ">#}
{#                    <label for="type_of_activity">What type of activity?:</label>#}
{#                    <select name="time_of_day" id="time_of_day">#}
{#                    <option value="morning">Morning</option>#}
{#                    <option value="afternoon">Afternoon</option>#}
{#                    <option value="evening">Evening</option>#}
{#<br>#}
{#<br>#}
{#<label for="Name">What time of day?</label>#}
{#<input type="text" id="City" name="City" placeholder="What time of day?">#}
{#<br>#}
{#<br>#}
{#<label for="Name">What time of day?</label>#}
{#<input type="text" id="City" name="City" placeholder="What city are you visiting?">#}
{#<br>#}
{#<br>#}
{#<label for="Name">What time of day?</label>#}
{#<input type="text" id="City" name="City" placeholder="What city are you visiting?">#}
{#<br>#}
{#<br>#}
{#<label for="Name">What time of day?</label>#}
{#<input type="text" id="City" name="City" placeholder="What city are you visiting?">#}
{##}
{##}
{#</body>#}
{#</html>#}