{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>

    <table class="table table-bordered table-hover table-striped">
        <input type="hidden" id="myParam" value={{ trip_results }}>
        <thead>
        <tr>
            <th>Available Itineraries</th>
        </tr>
        </thead>
        <tbody>
        {% for item in list_of_itineraries %}
            <tr>
                <td id={{ forloop.counter }}>
                    <a href="#" class="itinerary-link" data-itinerary-id="{{ forloop.counter }}">{{ item }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            var links = document.getElementsByClassName("itinerary-link")
            var my_data = {{ trip_results|safe }}
            console.log(my_data)
            for (var i = 0; i < links.length; i++) {
                city = my_data[i]['city']
                len = my_data[i]['length']
                links[i].addEventListener("click", function () {
                    window.location.href = "http://127.0.0.1:8000/trip_result?destination=" +city  + "&length=" +len
                });
            }

        });


    </script>
    </body>
{% endblock %}